[Unit]
Description=hugo service
Documentation=https://gohugo.io/
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=oeyoews
CapabilityBoundingSet=CAP_NET_ADMIN CAP_NET_BIND_SERVICE
AmbientCapabilities=CAP_NET_ADMIN CAP_NET_BIND_SERVICE
NoNewPrivileges=true
WorkingDirectory=/home/oeyoews/REPOS/hugo2
ExecStart=/usr/bin/hugo --config config.toml --environment production -w
Restart=on-failure
RestartPreventExitStatus=23

[Install]
WantedBy=multi-user.target
